<div class="container container-narrow">
  <div class="row">
    <div class="col-md-12">
      <h1>What's my winrate?<small> or</small></h1>
      <h2>Am I definitely a winning player?<small> or</small></h2>
      <h2>Should I quit my job to play poker?</h2>
      <p>All are common questions for the intermediate poker player once they have come far enough to string together their first profitable weeks and months.  Mathematically, the answer seems to be fairly simple, variance in poker is well understood and there are various online variance calculators that you can use to find things like confidence intervals and bankroll requirements and so on.  However, when not used properly, these calculators will miss a very important factor: selection bias.  An example will make it easier to explain:</p>
      <img class="aboutgraph img-responsive center-block" src="images/trialgraph.gif">
      <p>Joe makes the switch from tournaments to cash games and has been playing 6max holdem for a few months now. He's been doing pretty well recently, winning at 13bb/100 over 30,000 hands, and wants to know how likely it is that he's a winning player in the long run.  An online variance calculator can tell him that the chances of a breakeven player winning this much over 30,000 hands are about 1%, so from that Joe might draw the conclusion that there is a 99% chance he is a winning player.  This would be a huge overestimate.</p>
      <p>Firstly, if this 30k sample is just the last 30k hands Joe played, he can't make inferences from that outside the context of the total number of hands he has played.  Even a losing player will win at 13bb/100 for 30k hands occasionally.  This is the most common form of selection bias and almost everybody is guilty of it from time to time, over-analysing some stretch of recent good results can help people feel good about themselves.  That's fine, but if Joe makes the decision to move up stakes or quit his job based on this “analysis”, he's gonna have a bad time.</p>
      <p>However, let's say that Joe wants to do things properly and this sample is all the cash game hands he has ever played.  It's a pretty good start to a cash game career, could he be the next Tom Dwan?  Can he say there's a 99% chance he's a winning player at this early stage?  Unfortunately, there is still a hidden selection bias even when we take lifetime statistics.</p>
      <p>Variance calculators use the normal distribution and the typical standard deviation for holdem cash games to work out the chance of running <em>x</em> amount above or below EV in a given number of hands. This is correct for forward estimates, and is how we reached the figure of 1% for a breakeven player winning 13bb/100 for 30,000 hands.  However, using this method to infer things from past results would assign the same 1% probability that <strong>Joe is actually a 26bb/100 winner running badly</strong>.  This is clearly absurd: there are far more breakeven players than big winners due to the zero-sum nature of the game, where for every winner there has to be a corresponding loser, plus somebody else paying for the rake.  The majority of players are at or below breakeven, whereas there is probably nobody in the world with a true winrate of 26bb/100 at anything above penny stakes.</p>
      <p>Consequently, compared to the chance that he is a breakeven player, the chance that Joe is a 26bb/100 winner is very small, enough that we can discount it entirely. In fact all numbers above breakeven are much less likely than the corresponding numbers the same distance below, and if we discount everything above zero then that affects the probabilities below since the total probability of all possible outcomes must add up to 1.  From this we can see that 1% will end up being a huge underestimate of the probability Joe is a losing player on a lucky streak.</p>
      <img class="aboutgraph img-responsive center-block" src="images/bayesgraph.gif">
      <p>One way to do this transformation is by using Bayesian statistics.  We take the result we reached through the conventional statistical method above and pass it through the filter of the underlying distribution of true winrates for everybody.  The mean average of this distribution will be the rake, and “true” winrates are probably normally distributed with a standard deviation somewhere around the absolute value of the rake, in line with the accepted wisdom that 80-90% of people who play cash games lose in the long run.</p>
      <p>When analysed in this way, the chance that Joe is a losing player is around 11%.  Not bad, but Joe probably wouldn't want to quit his job to play poker with an 11% chance he's not even a winning player.  Hopefully he will use this website and get a few more hands under his belt before making any rash decisions.</p>
    </div>
  </div>
</div>
