<div class="row">
  <chart></chart>
  <div class="col-xs-12 col-md-5 details" id="results" ng-show="results.show" ng-cloak>
    <h3>Your {{ results.winrateWord }} is <br/><span id="winrateResult">{{ results.winrate | number }} &plusmn; {{ results.error | number }} {{ results.winrateSymbol }}</span></h3>
    <h4>That means...</h4>
    <p>There is a <strong>{{ results.percentChance | number }}%</strong> chance you are a losing player</p>
    <p>Your {{ results.winrateWord }} is probably<sup>*</sup> between {{ results.probably1 | number : 1 }} and {{ results.probably2 | number : 1 }} {{ results.winrateSymbol }}</p>
    <p>And almost definitely<sup>†</sup> between {{ results.definitely1 | number : 1 }} and {{ results.definitely2 | number : 1 }} {{ results.winrateSymbol }}</p>
    <p class="small">*~70%, †~95%</p>
  </div>
  <div class="col-xs-12 bg-info details" id="rakeback" ng-show="results.show" ng-cloak>
    <h3>With 30% rakeback:</h3>
    <h4>Your {{ results.winrateWord }} would be <span id="rbWinrateResult">{{ results.rb.winrate  | number }} &plusmn; {{ results.rb.resultError  | number }} {{ results.winrateSymbol }}</span></h4>
    <p>There'd be a <strong>{{ results.rb.percentChance  | number : 1 }}%</strong> chance you'd be a losing player</p>
    <p>Your {{ results.winrateWord }} would probably* be between {{ results.rb.probably1 | number }} and {{results.rb.probably2 | number }} {{ results.winrateSymbol }}</p>
    <p>And almost definitely<sup>†</sup> between {{ results.rb.definitely1 | number }} and {{ results.rb.definitely2 | number }} {{ results.winrateSymbol }}</p>
    <a class="btn btn-primary btn-lg" ui-sref="rakeback">Get Rakeback!</a>
  </div>
</div>
