<div class="container main">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 sidebar" ng-controller="AccordionCtrl as vm">
      <pre class="debug">{{ vm.accordion | json }}</pre>
      <uib-accordion close-others="true">

        <uib-accordion-group heading="Cash Games" is-open="vm.accordion.cash">
          <div ng-controller="CashFormCtrl as cashform">
            <div>
              <label class="control-label">Game</label>
            </div>
            <div class="btn-group">
              <label class="btn btn-default wr-form-btn" ng-model="cashform.model.game" uib-btn-radio="'NLH'">NLH</label>
              <label class="btn btn-default wr-form-btn" ng-model="cashform.model.game" uib-btn-radio="'PLO'">PLO</label>
            </div>
            <div>
              <label class="control-label">Table Size</label>
            </div>
            <div class="btn-group">
              <label class="btn btn-default btn-table-size wr-form-btn" ng-model="cashform.model.size" uib-btn-radio="'HU'">Heads Up</label>
              <label class="btn btn-default btn-table-size wr-form-btn" ng-model="cashform.model.size" uib-btn-radio="'6M'">6max</label>
              <label class="btn btn-default btn-table-size wr-form-btn" ng-model="cashform.model.size" uib-btn-radio="'FR'">Full Ring</label>
            </div>
            <formly-form model="cashform.model" fields="cashform.fields" options="cashform.options"></formly-form>
            <pre class="debug">{{ cashform.model | json }}</pre>
          </div>
        </uib-accordion-group>


        <uib-accordion-group heading="Heads Up SnGs" is-open="vm.accordion.hustt">
          <div ng-controller="HuSngFormCtrl as husngform">
            <div class="btn-group">
              <label class="btn btn-default wr-form-btn" ng-model="husngform.model.speed" uib-btn-radio="'Hyper'">Hyper</label>
              <label class="btn btn-default wr-form-btn" ng-model="husngform.model.speed" uib-btn-radio="'Turbo'">Turbo</label>
              <label class="btn btn-default wr-form-btn" ng-model="husngform.model.speed" uib-btn-radio="'Regular'">Regular</label>
            </div>
            <formly-form model="husngform.model" fields="husngform.fields" options="husngform.options"></formly-form>
            <pre class="debug">{{ husngform.model | json }}</pre>
          </div>
        </uib-accordion-group>


        <uib-accordion-group heading="Custom (advanced)" is-open="vm.accordion.custom">
          <div ng-controller="CustomFormCtrl as customform">
            <formly-form model="customform.model" fields="customform.fields" options="customform.options"></formly-form>
            <pre class="debug">{{ customform.model | json }}</pre>
          </div>
        </uib-accordion-group>

      </uib-accordion>

      <div ng-show="showResults">
        <hr />
        <form role="form">
          <label>Share your results:</label>
          <div class="input-group">
            <span class="input-group-addon">URL:</span>
            <input class="form-control" type="text" value="{{shareURL}}" autocomplete="off">
          </div>
        </form>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9" ng-include="'calc/_results.html'" ng-controller="ResultsCtrl as results"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-9 col-md-offset-3">
      <h1>How To Use This Calculator</h1>
      <ol>
        <li>This calculator is a tool to help with poker decisions like "When should I move up limits?" or "Should I go pro?"</li>
        <li>You'll need to track your results using a database program (e.g. HoldemManager, PokerTracker) or an online tracker (e.g. SharkScope, PokerTableRatings).</li>
        <li>This calculator is 'Garbage In, Garbage Out', which means if you don't put your real results in, it won't tell you your real winrate.
          <ul>
            <li>If possible, use your lifetime statistics without leaving anything out, especially not losses, even if you feel you were "off your game". Using lifetime stats is the best way to guard against selection bias.</li>
            <li>If you have played a variety of limits, select the limit you have played at most, but use your overall stats from all limits.</li>
            <li>If you have played some PLO and some holdem, split them up and use the stats from each game separately. (Ability in the two games may be highly correlated, but we're unable to model that here.)</li>
          </ul>
        </li>
        <li>Remember this is just a model that tells us what it is possible to infer from our results alone, however there are many other factors that could/should be taken into account to improve the estimates here. Most importantly, the games you played in the past are not the same as the games you will play in the future. <strong>Past performance does not guarantee future results.</strong></li>
        <li>"All models are wrong, but some are useful" - George E.P. Box</li>
        <li><a href="about.html">Read more about how the calculator works</a></li>
      </ol>
    </div>
  </div>
</div>
