    <div class="container" id="worldwide">
      <div class="row">
        <div class="col-md-4 rakeback">
          <img class="img-responsive" src="http://cdn.pokercrm.com/api/image/pokerroom/id/1/width/340" alt="Unibet Poker">
          <h1>Unibet<small> - up to 40% rakeback</small></h1>
          <p>In March 2014 Unibet split away from Microgaming and launched their own independent poker room.</p>
          <p class="lead"><strong>
            <ul>
              <li>€500 New Player Bonus</li>
              <li>€10 Free | No Deposit Necessary</li>
              <li>Up to 40% Rakeback</li>
            </ul>
          </strong></p>
          <a class="btn btn-success btn-lg btn-block" href="http://adserving.unibet.com/redirect.aspx?pid=31468&bid=12682"><span class="glyphicon glyphicon-info-sign"></span> Learn More</a>
        </div>
        <div class="col-md-4 rakeback">
          <img class="img-responsive" src="http://cdn.pokercrm.com/api/image/pokerroom/id/63/width/340" alt="Paddy Power Poker">
          <h1>Paddy Power<small> - up to 50% VIP cashback</small></h1>
          <p>As a member of the iPoker network Paddy Power benefits from PlayTech’s user-friendly software, and there is never a lack of traffic.</p>
          <p class="lead"><strong>
            <ul>
              <li>100% Deposit Bonus up to $500</li>
              <li>200% First Deposit Bonus up to $2000</li>
              <li>Up to 50% VIP Cashback</li>
            </ul>
          </strong></p>
          <a class="btn btn-success btn-lg btn-block" href=" http://ad.doubleclick.net/clk;278849396;84723480;f?http://poker.paddypower.com/registration/desktop?action=go_registration_iframe&business_channel=PD&ptdesktoppoker=1&area=PD&AFF_ID=10077143"><span class="glyphicon glyphicon-info-sign"></span> Learn More</a>
        </div>
        <div class="col-md-4 rakeback">
          <img class="img-responsive" src="http://cdn.pokercrm.com/api/image/pokerroom/id/55/width/340" alt="BetVictor Poker">
          <h1>BetVictor<small> - 30% rakeback</small></h1>
          <p>Formerly known as Victor Chandler, BetVictor operates on the Microgaming Network.</p>
          <p class="lead"><strong>
            <ul>
              <li>200% First Deposit Bonus up to $1000</li>
              <li>30% Rakeback Any Time!</li>
            </ul>
          </strong></p>
          <a class="btn btn-success btn-lg btn-block" href="http://www.betvictor.com/poker/en?btagid=41950600"><span class="glyphicon glyphicon-info-sign"></span> Learn More</a>
        </div>
      <div class="clearfix"></div>
      <div class="row" id="smallprint">
        <p class="small">Disable AdBlock to view links on this page</p>
        <p class="small">For more details email <a href="mailto:info@whatsmywinrate.com">info@whatsmywinrate.com</a></p>
      </div>
    </div>
  </div>
