<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">

  <title>What's My Winrate?</title>
  <meta name="description" content='This calculator is a tool to help with poker decisions like "When should I move up limits?" or "Should I go pro?". Find out your true winrate here'>


  <!-- bower:css -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <!-- endbower -->
  <link href="main.css" rel="stylesheet">

  <!-- bower:js -->
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/api-check/dist/api-check.js"></script>
  <script src="/angular-formly/dist/formly.js"></script>
  <script src="/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
  <script src="/angular-touch/angular-touch.js"></script>
  <script src="/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/raphael/raphael.js"></script>
  <!-- endbower -->
  <!-- cdn-scripts
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-touch.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/api-check/7.5.5/api-check.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-formly/7.3.3/formly.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-formly-templates-bootstrap/6.1.5/angular-formly-templates-bootstrap.min.js"></script>
  cdn-scripts -->

  <script src="app.js"></script>

  </head>

  <body data-ng-app="application">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="calc">Winrate Calculator</a>
        </div>
        <nav class="collapse navbar-collapse" uib-collapse="navbarCollapsed">
          <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="about" ng-click="navbarCollapsed = !navbarCollapsed">About</a></li>
            <li><a ui-sref="rakeback" ng-click="navbarCollapsed = !navbarCollapsed">Rakeback</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <ui-view></ui-view>

  </body>
</html>
