/*
 * Base structure
 */

/* Fix for angular-ui bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.sidebar {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: inline-block;
  padding: 20px;
  overflow-x: hidden;
  /*overflow-y: auto;  Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}

.main .page-header {
  margin-top: 0;
}

.input-group {
  margin: 3px;
}

#rakeback {
  padding: 0px 10px 10px 10px;
  border-radius: 8px;
  margin: 10px;
}

.aboutgraph {
  max-height: 300px;
  margin: 5px;
}

.container {
  margin-top: -1px;
}
.rakeback {
  border-top: 1px dashed black;
  padding-bottom: 5px;
}
.rakeback p {
  clear: left;
}

.rakeback img {
  float: left;
}
#smallprint p {
  text-align: right;
}

.container-narrow {
  max-width: 750px;
}

.container-narrow p {
  margin-top: 35px;
  font-size: large;
  line-height: 3.5rem;
}

.debug { display: none;}

.btn-table-size {
  padding: 6px 9px;
}

.wr-form-btn {
  margin-bottom: 10px;
}
